@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    background: url('/bg1.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreBox{
    position: absolute;
    top: 100px;
    right: 70px;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'DynaPuff', cursive;

}
.board{
    width: 90vmin;
    height: 90vmin;
    background: lightgreen;
    border: 10px solid rgb(20, 122, 6);
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background: darkgreen;
    border: 3px solid black;
    border-radius: 10px;
    transform: scale(1.10);
}
.body{
    background: yellowgreen;
    border: 3px solid rgb(86, 105, 86);
    border-radius: 20px
}
.food{
    background: linear-gradient(red,orange);
    border: 1px solid;
    border-radius: 20px;
}
